<section class="landing-footer">
  <div
    class="flex flex-row justify-content-center align-items-center w-full pt-3 gap-4"
  >
    <div class="">
      <a class="header-logo" href="/"
        ><img
          class="w-3rem"
          id="header-logo"
          src="../../../assets/images/pikachu.png"
          alt="prime"
      /></a>
    </div>
    <div class="flex-column">
      <div class="flex flex-row gap-4 md:gap-4 align-items-center">
        <a
          href="https://forum.primefaces.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="linkbox header-button flex align-items-center justify-content-center flex-shrink-0"
          ><i class="text-gray-900 text-2xl pi pi-comments"></i></a
        ><a
          href="https://discord.gg/gzKFYnpmCY"
          target="_blank"
          rel="noopener noreferrer"
          class="linkbox header-button flex align-items-center justify-content-center flex-shrink-0"
          ><i class="text-gray-900 text-2xl pi pi-discord"></i></a
        ><a
          href="https://github.com/primefaces/primeflex"
          target="_blank"
          rel="noopener noreferrer"
          class="header-button mr-1 flex align-items-center justify-content-center flex-shrink-0"
          ><i class="text-gray-900 text-2xl pi pi-github"></i
        ></a>
      </div>

      <div class="text-600 pt-2">
        <span> Made with Angular17</span>
      </div>
    </div>
  </div>
</section>
