/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border: 8px solid #747474;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  box-sizing: border-box;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #e3dede;
  color: black;
  
}

/* Style the back side */
.flip-card-back {
  background-color: #e3dede;
  color: black;
  transform: rotateY(180deg);
}


.numberCircle {
  width: 1.5rem;
  height: 1.5rem;
  position: fixed;
 z-index: 10;
  left: 85%;
  bottom: 89%;
 
}



.normal {
  background-color: #808080; /* gray */
  color: #ffffff; /* white */
}

.fire {
  background-color: #ff0000; /* red */
  color: #ffffff; /* white */
}

.water {
  background-color: #0080ff; /* blue */
  color: #ffffff; /* white */
}

.grass {
  background-color: #00cc00; /* green */
  color: #ffffff; /* white */
}

.electric {
  background-color: #ffff00; /* yellow */
  color: #000000; /* black */
}

.ice {
  background-color: #99ccff; /* light blue */
  color: #ffffff; /* white */
}

.fighting {
  background-color: #ff0000; /* red */
  color: #ffffff; /* white */
}

.poison {
  background-color: #800080; /* purple */
  color: #ffffff; /* white */
}

.ground {
  background: linear-gradient(
    to right,
    #ffd700,
    #8b5a2b
  ); /* gradient from gold to brown */
  color: #ffffff; /* white */
}

.flying {
  background: linear-gradient(
    to right,
    #3182ce,
    #718096
  ); /* gradient from blue to gray */
  color: #ffffff; /* white */
}

.psychic {
  background-color: #800080; /* purple */
  color: #ffffff; /* white */
}

.bug {
  background-color: #008000; /* dark green */
  color: #ffffff; /* white */
}

.rock {
  background-color: #a9a9a9; /* dark gray */
  color: #ffffff; /* white */
}

.ghost {
  background-color: #4b0082; /* indigo */
  color: #ffffff; /* white */
}

.dark {
  background-color: #333333; /* dark gray */
  color: #ffffff; /* white */
}

.steel {
  background-color: #808080; /* gray */
  color: #ffffff; /* white */
}

.dragon {
  background: linear-gradient(
    to right,
    #9f7aea,
    #6b46c1
  ); /* gradient from purple to indigo */
  color: #ffffff; /* white */
}

.fairy {
  background-color: #ff69b4; /* pink */
  color: #ffffff; /* white */
}