<main>
  <section
    class="xl:p-6 md:p-8 text-center"
    style="
      background: linear-gradient(
        45deg,
        #ff0000,
        #ff3333,
        #ff6666,
        #ff9999,
        #ffcccc,
        #ffffffea,
        #ffcccc,
        #ff9999,
        #ff6666,
        #ff3333,
        #ff0000
      );
    "
  >
    <div class="background-semi-transparent border-round-3xl shadow-8 pb-2">
      <div
        class="surface-900 text-0 p-2 mx-auto mb-4"
        style="max-width: 300px; border-radius: 40px"
      >
        {{ 'HOME.SPAN' | translate }}
      </div>
      <div>
        <h1>
          <span class="text-6xl text-900 font-bold text-gray-900">{{
            'HOME.TITLE_1' | translate
          }}</span>
        </h1>
        <h1>
          <span class="text-6xl text-white font-bold mb-4">{{
            'HOME.TITLE_2' | translate
          }}</span>
        </h1>
      </div>
      <p-button
        type="button"
        label="{{ 'HOME.BUTTON_START' | translate }}"
        [raised]="true"
        class="text-white"
        styleClass="bg-gray-800  border-black-alpha-70 text-white p-3"
      ></p-button>

      <img
        src="assets/images/pokeball-png-45330.png"
        alt="Image"
        class="block mx-auto mt-6 w-full w-auto"
        style="margin-bottom: -3rem"
      />
    </div>
  </section>
  <section class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="grid">
      <div class="col-12 md:col-6">
        <div class="pr-0 md:pr-8">
          <h3 class="text-900 font-bold text-4xl mb-3">
            {{ 'HOME.TITLE_SECTION' | translate }}
          </h3>
          <div class="text-700 line-height-3 mb-5">
            {{ 'HOME.SUBTITLE_SECTION' | translate }}
          </div>
          <div class="mb-5 flex">
            <div
              class="flex flex-column align-items-center"
              style="width: 2rem"
            >
              <span
                class="bg-cyan-600 text-white flex align-items-center justify-content-center border-circle shadow-2"
                style="
                  min-width: 2.5rem;
                  min-height: 2.5rem;
                  border: 2px solid #ffffff;
                "
              >
                <img
                  src="/assets/images/pokedex-icon.png"
                  alt="itemList"
                  style="filter: invert(100%); height: 1.5rem"
                />
              </span>
              <div
                class="h-full bg-cyan-500"
                style="width: 2px; min-height: 4rem"
              ></div>
            </div>
            <div class="ml-3">
              <div class="font-medium text-900 mb-2">
                {{ 'HOME.POKEDEX_TITLE' | translate }}
              </div>
              <span class="line-height-3 text-700"
                >{{ 'HOME.POKEDEX_TEXT' | translate }}.</span
              >
            </div>
          </div>
          <div class="mb-5 flex">
            <div
              class="flex flex-column align-items-center"
              style="width: 2rem"
            >
              <span
                class="bg-orange-500 text-white flex align-items-center justify-content-center border-circle shadow-2"
                style="
                  min-width: 2.5rem;
                  min-height: 2.5rem;
                  border: 2px solid #ffffff;
                "
                ><img
                  src="/assets/images/pikachu-icon.jpg"
                  alt="itemList"
                  style="height: 1.5rem"
              /></span>
              <div
                class="h-full bg-orange-500"
                style="width: 2px; min-height: 4rem"
              ></div>
            </div>
            <div class="ml-3">
              <div class="font-medium text-900 mb-2">
                {{ 'HOME.POKEMON_DETAILS_TITLE' | translate }}
              </div>
              <span class="line-height-3 text-700">{{
                'HOME.POKEMON_DETAILS_TEXT' | translate
              }}</span>
            </div>
          </div>
          <div class="mb-5 flex">
            <div
              class="flex flex-column align-items-center"
              style="width: 2rem"
            >
              <span
                class="bg-purple-500 text-white flex align-items-center justify-content-center border-circle shadow-2"
                style="
                  min-width: 2.5rem;
                  min-height: 2.5rem;
                  border: 2px solid #ffffff;
                "
                ><img
                  src="/assets/images/pokeball-icon.jpg"
                  alt="itemList"
                  style="height: 1.5rem"
                />
              </span>
              <div
                class="h-full bg-purple-500"
                style="width: 2px; min-height: 4rem"
              ></div>
            </div>
            <div class="ml-3">
              <div class="font-medium text-900 mb-2">
                {{ 'HOME.ITEMS_TITLE' | translate }}
              </div>
              <span class="line-height-3 text-700">
                {{ 'HOME.ITEMS_TEXT' | translate }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 md:pt-8">
        <!-- <img
        src="assets/images/pikachu.png"
        alt="Image"
        class="lg:hidden w-20rem border-round-3xl"
      /> -->
        <img
          src="assets/images/home-page.png"
          alt="Image"
          class="w-full border-round-3xl"
        />
      </div>
    </div>
  </section>
</main>
