<div
  class="p-8 text-center"
  style="
    background: radial-gradient(
      69.84% 69.84% at 50% 100%,
      rgba(253, 0, 0, 0.65) 0%,
      rgba(255, 0, 0, 0.15) 100%
    );
  "
>
  <div
    class="surface-900 text-0 p-2 mx-auto mb-4"
    style="max-width: 300px; border-radius: 40px"
  >
    🔥 Check your favorite pokemons
  </div>
  <div class="text-6xl text-900 font-bold mb-1">The platform for</div>
  <div class="text-6xl text-primary font-bold mb-4">Pokemon Fans</div>
  <button
    type="button"
    pbutton=""
    pripple=""
    label="Get Started"
    class="p-element p-ripple p-button-outlined p-3 font-bold p-button p-component"
  >
    <span class="p-button-label">Get Started</span
    ><span class="p-ink"></span></button
  ><img
    src="assets/images/pokeball-png-45330.png"
    alt="Image"
    class="block mx-auto mt-6 w-full w-auto"
    style="margin-bottom: -3rem"
  />
</div>
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="grid">
    <div class="col-12 md:col-6">
      <div class="pr-0 md:pr-8">
        <div class="text-900 font-bold text-4xl mb-3">Easy to Use</div>
        <div class="text-700 line-height-3 mb-5">
          Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna.
        </div>
        <div class="mb-5 flex">
          <div class="flex flex-column align-items-center" style="width: 2rem">
            <span
              class="bg-cyan-600 text-white flex align-items-center justify-content-center border-circle shadow-2"
              style="
                min-width: 2.5rem;
                min-height: 2.5rem;
                border: 2px solid #ffffff;
              "
              ><i class="pi pi-image text-2xl"></i
            ></span>
            <div
              class="h-full bg-cyan-500"
              style="width: 2px; min-height: 4rem"
            ></div>
          </div>
          <div class="ml-3">
            <div class="font-medium text-900 mb-2">Create a wireframe</div>
            <span class="line-height-3 text-700"
              >Imperdiet nulla malesuada pellentesque elit eget gravida. Dui
              sapien eget mi proin. Eu mi bibendum neque egestas congue quisque
              egestas diam.</span
            >
          </div>
        </div>
        <div class="mb-5 flex">
          <div class="flex flex-column align-items-center" style="width: 2rem">
            <span
              class="bg-orange-500 text-white flex align-items-center justify-content-center border-circle shadow-2"
              style="
                min-width: 2.5rem;
                min-height: 2.5rem;
                border: 2px solid #ffffff;
              "
              ><i class="pi pi-android text-2xl"></i
            ></span>
            <div
              class="h-full bg-orange-500"
              style="width: 2px; min-height: 4rem"
            ></div>
          </div>
          <div class="ml-3">
            <div class="font-medium text-900 mb-2">Artificial Intelligence</div>
            <span class="line-height-3 text-700"
              >Erat pellentesque adipiscing commodo elit at imperdiet dui. Morbi
              tristique senectus et netus et malesuada fames.</span
            >
          </div>
        </div>
        <div class="mb-5 flex">
          <div class="flex flex-column align-items-center" style="width: 2rem">
            <span
              class="bg-purple-500 text-white flex align-items-center justify-content-center border-circle shadow-2"
              style="
                min-width: 2.5rem;
                min-height: 2.5rem;
                border: 2px solid #ffffff;
              "
              ><i class="pi pi-globe text-2xl"></i
            ></span>
            <div
              class="h-full bg-purple-500"
              style="width: 2px; min-height: 4rem"
            ></div>
          </div>
          <div class="ml-3">
            <div class="font-medium text-900 mb-2">Deploy to Production</div>
            <span class="line-height-3 text-700"
              >Adipiscing at in tellus integer. Lorem donec massa sapien
              faucibus et molestie ac feugiat. Laoreet sit amet cursus sit.
              Velit ut tortor pretium viverra.</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6">
      <img
        src="assets/images/full-pokemon-4k.jpg"
        alt="Image"
        class="w-full border-round-3xl"
      />
    </div>
  </div>
</div>
