<p-toolbar
  styleClass="bg-gray-900 shadow-2"
  [style]="{
    'background-image':
      'linear-gradient(to right, var(--indigo-200), var(--indigo-500))'
  }"
>
  <ng-template pTemplate="start">
    <img class="w-3rem" src="assets/images/pokeball-png-45330.png" />
  </ng-template>
  <ng-template pTemplate="center">
    <div class="flex flex-wrap align-items-center gap-3">
      <button
        class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200"
      >
        <i class="pi pi-user text-2xl"></i>
      </button>
      <button
        class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200"
      >
        <i class="pi pi-search text-2xl"></i>
      </button>
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-2">
      <button
        class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200"
        (click)="changeTheme()"
      >
        <i class="pi pi-palette text-2xl"></i>
      </button>
    </div>
  </ng-template>
</p-toolbar>
