<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
@if (pokemon) {
<app-pokemon-detail-main
  [pokemon]="pokemon"
  (changeVariety)="changeVariety($event)"
></app-pokemon-detail-main>

<app-pokemon-evolve-chain [pokemon]="pokemon"></app-pokemon-evolve-chain>

<app-pokemon-detail-info
  [pokemon]="pokemon"
  [types]="types"
></app-pokemon-detail-info>
}@else {
<div class="mt-8 flex justify-content-center flex-wrap">
  <p-progressSpinner></p-progressSpinner>
</div>

}
