<p-toolbar [styleClass]="'shadow-2 ' + colorClass" class="toolbar">
  <ng-template pTemplate="start">
    <img
      class="w-2rem"
      src="assets/images/pokeball-png-45330.png"
      alt="pokeball"
    />
  </ng-template>
  <ng-template pTemplate="center">
    <div class="flex flex-wrap align-items-center gap-3">
      <button
        routerLinkActive="bg-white-alpha-10"
        routerLink="/home"
        class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200"
      >
        <i class="pi pi-home text-2xl"></i>
      </button>
      <button
        routerLinkActive="bg-white-alpha-10"
        class="p-link inline-flex justify-content-center align-items-center text-white p-2 hover:bg-white-alpha-10 transition-all transition-duration-200"
      >
        <span class="text-white" routerLink="/pokedex">Pokédex</span>
      </button>
      <button
        routerLinkActive="bg-white-alpha-10"
        class="p-link inline-flex justify-content-center align-items-center text-white p-2 hover:bg-white-alpha-10 transition-all transition-duration-200"
      >
        <span class="text-white" routerLink="/items">{{
          'TOOLBAR.ITEMS' | translate
        }}</span>
      </button>
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-2">
      <button
        class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200"
        (click)="changeTheme()"
      >
        <i class="pi pi-moon text-2xl"></i>
      </button>
    </div>
  </ng-template>
</p-toolbar>
