/* You can add global styles to this file, and also import other style files */
// Colors
.black {
  background-color: #607d8b !important;
  color: white !important;
  transition:
    background-color 1000ms ease-in,
    width 1500ms ease-in-out;
}

.blue {
  background-color: #81d4fa !important;
  color: white !important;
  transition:
    background-color 1000ms ease-in,
    width 1500ms ease-in-out;
}

.brown {
  background-color: #bcaaa4 !important;
  color: white !important;
  transition:
    background-color 1000ms ease-in,
    width 1500ms ease-in-out;
}

.gray {
  background-color: #a6a6a6 !important;
  color: white !important;
  transition:
    background-color 1000ms ease-in,
    width 1500ms ease-in-out;
}

.green {
  background-color: #81c784 !important;
  color: white !important;
  transition:
    background-color 1000ms ease-in,
    width 1500ms ease-in-out;
}

.pink {
  background-color: #f8bbd0 !important;
  color: white !important;
  transition:
    background-color 1000ms ease-in,
    width 1500ms ease-in-out;
}

.purple {
  background-color: #ad8ee7 !important;
  color: white !important;
  transition:
    background-color 1000ms ease-in,
    width 1500ms ease-in-out;
}

.red {
  background-color: #ff8a80 !important;
  color: white !important;
  transition:
    background-color 1000ms ease-in,
    width 1500ms ease-in-out;
}

.white {
  background-color: #d5dbe1 !important;
  color: dimgray !important;
  transition:
    background-color 1000ms ease-in,
    width 1500ms ease-in-out;
}

.yellow {
  background-color: #ffd600 !important;
  color: white !important;
  transition:
    background-color 1000ms ease-in,
    width 1500ms ease-in-out;
}

// Text-Only Colors
.black-text {
  color: #607d8b !important;
  transition:
    color 1000ms ease-in,
    width 1500ms ease-in-out;
}

.blue-text {
  color: #3aaee4 !important;
  transition:
    color 1000ms ease-in,
    width 1500ms ease-in-out;
}

.brown-text {
  color: #a69791 !important;
  transition:
    color 1000ms ease-in,
    width 1500ms ease-in-out;
}

.gray-text {
  color: #949393 !important;
  transition:
    color 1000ms ease-in,
    width 1500ms ease-in-out;
}

.green-text {
  color: #68c96d !important;
  transition:
    color 1000ms ease-in,
    width 1500ms ease-in-out;
}

.pink-text {
  color: #ea89ab !important;
  transition:
    color 1000ms ease-in,
    width 1500ms ease-in-out;
}

.purple-text {
  color: #ad8ee7 !important;
  transition:
    color 1000ms ease-in,
    width 1500ms ease-in-out;
}

.red-text {
  color: #ff8a80 !important;
  transition:
    color 1000ms ease-in,
    width 1500ms ease-in-out;
}

.white-text {
  color: dimgray !important;
  transition:
    color 1000ms ease-in,
    width 1500ms ease-in-out;
}

.yellow-text {
  color: #dcb800 !important;
  transition:
    color 1000ms ease-in,
    width 1500ms ease-in-out;
}

//pokemon types
.bug {
  background: #92bc2c;
  box-shadow: 0 0 20px #92bc2c;
}

.dark {
  background: #595761;
  box-shadow: 0 0 20px #595761;
}

.dragon {
  background: #0c69c8;
  box-shadow: 0 0 20px #0c69c8;
}

.electric {
  background: #f2d94e;
  box-shadow: 0 0 20px #f2d94e;
}

.fire {
  background: #fba54c;
  box-shadow: 0 0 20px #fba54c;
}

.fairy {
  background: #ee90e6;
  box-shadow: 0 0 20px #ee90e6;
}

.fighting {
  background: #d3425f;
  box-shadow: 0 0 20px #d3425f;
}

.flying {
  background: #a1bbec;
  box-shadow: 0 0 20px #a1bbec;
}

.ghost {
  background: #5f6dbc;
  box-shadow: 0 0 20px #5f6dbc;
}

.grass {
  background: #5fbd58;
  box-shadow: 0 0 20px #5fbd58;
}

.ground {
  background: #da7c4d;
  box-shadow: 0 0 20px #da7c4d;
}

.ice {
  background: #75d0c1;
  box-shadow: 0 0 20px #75d0c1;
}

.normal {
  background: #a0a29f;
  box-shadow: 0 0 20px #a0a29f;
}

.poison {
  background: #b763cf;
  box-shadow: 0 0 20px #b763cf;
}

.psychic {
  background: #fa8581;
  box-shadow: 0 0 20px #fa8581;
}

.rock {
  background: #c9bb8a;
  box-shadow: 0 0 20px #c9bb8a;
}

.steel {
  background: #5695a3;
  box-shadow: 0 0 20px #5695a3;
}

.water {
  background: #539ddf;
  box-shadow: 0 0 20px #539ddf;
}

//Other
.Heading {
  font-size: x-large;
  color: #6d6d6d;
}

table td {
  padding: 0.5rem;
  vertical-align: middle;
}
