<div class="card flex justify-content-center">
  @if (item$ | async; as item){
  <div class="custom-card shadow-5">
    <div class="custom-card-header bg-indigo-50 hover:bg-indigo-100">
      @if(item.sprites.default){
      <img class="custom-card-image" alt="Card" [src]="item.sprites.default" />
      }@else {
      <img
        class="custom-card-image"
        alt="no Image"
        src="https://t4.ftcdn.net/jpg/04/73/25/49/360_F_473254957_bxG9yf4ly7OBO5I0O5KABlN930GwaMQz.jpg"
      />
      }

      <h2 class="text-gray-900">{{ item.name }}</h2>
    </div>
    <div class="custom-card-content h-full">
      <div class="flex justify-content-start flex-wrap">
        @for ( item of item.attributes; track item.name ) {

        <span
          class="text-xs font-semibold text-white p-1 text-center bg-indigo-200 flex align-items-center justify-content-center border-round m-1"
        >
          {{ item.name | titlecase }}
        </span>

        }
      </div>

      <p class="">
        {{ item.flavor_text_entries | pokemonItemText }}
      </p>
    </div>
  </div>

  }@else{
  <p-progressSpinner></p-progressSpinner>
  }
</div>
