.custom-card {
  border: 1px solid #dddddd;
  border-radius: 8px;
  overflow: hidden;
  width: 15rem;
  height: 30rem;
  margin: 1rem;
}

.custom-card-header {
  background-color: #e8e8e8db;
  padding: 1rem;
  text-align: center;
}

.custom-card-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.custom-card-content {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.824);
}
